<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue JS Tutorial 2</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <div class="form-input">
            <label for="goal-input">Goal</label>
            <input type="text" id="goal-input" v-model="enteredValues">
            <button @click="addGoal">Add Goal</button>
        </div>

        <div class="goal-list">
            <ul>
                <li v-for="goal in goals">{{ goal }}</li>
            </ul>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
</body>

</html>